<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-succes">New Recepie</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">
                    Recepie Name
                </h4>
                <p class="list-group-item-text"> Desc</p>
                <span class="pull-right">
                    <img class="img-responsive" src="" alt="" style="max-height: 50px;">
                </span>
            </div>
        </a>
        <app-recepie-item></app-recepie-item>
    </div>
</div>

